.background-1{
  position: relative;
  background: url('https://firebasestorage.googleapis.com/v0/b/angular-fb-e657d.appspot.com/o/bg-img-1.jpg?alt=media&token=d4be1942-3b6a-4a68-b6d1-9f549276db79') no-repeat center;
  background-size: cover;
  padding-bottom: 39%;
}
