.form-control:focus{
    box-shadow: none;
}

.single-section{
    min-height: calc(100vh - 156px);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    width: 250px;
    .mat-form-field {
        width: 100%;
    }
}

.form-control{
    height: auto;
}

.form-title{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.btn-block{
    display: block;
}

.form-wrapper{
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.btn-primary{
  background-color: #50a0ff;
  transition: all ease .25s;
  &:hover:not([disabled]){
   border-radius: 0;
    transition: all ease .25s;
  }
}
