<mat-card class="mat-elevation-z category-item-wrap">
    <a class="category-item-media">
      <img mat-card-image src="{{categoryItem.imagPath}}">
    </a>
    <div class="mat-info">
        <mat-card-title>
            <a class="title">{{categoryItem.title}}</a>
        </mat-card-title>
        <mat-card-content>
          <p>
            {{categoryItem.caption}}
          </p>
        </mat-card-content>
        <a mat-raised-button  class="card-item-button mat-raised-button mat-button-base">Book Car</a>
    </div>
</mat-card>
