<ul class="social-list">
  <li><a href="https://www.facebook.com/" target="_blank"><fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon></a></li>
  <li><a href="https://www.facebook.com/" target="_blank"><fa-icon [icon]="['fab', 'telegram']" size="lg"></fa-icon></a></li>
  <li><a href="https://www.facebook.com/" target="_blank"><fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon></a></li>
  <li><a href="https://www.facebook.com/" target="_blank"><fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon></a></li>
</ul>

