.home-page-intro{
  position: absolute;
  bottom: 10%;
  left: 12.3%;
  max-width: 92%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 70px;
  }
  p{
    line-height: 1;
    font-size: 36px;
  }
  a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    min-width: 160px;
    min-height: 40px;
    border-radius: 4px;
    background-color: #50a0ff;
    &:hover{
      text-decoration: none;
      border-radius: 0;
    }
  }
}

.service-section{
  padding: 80px 0 30px 0;
  p{
    line-height: 1.8;
  }
  h2 + p{
    margin-top: 20px;
  }
  h5{
    //margin-bottom: 0;
  }
  .mat-accordion{
    .panel-text{
      padding-top: 16px;
    }
    .mat-expansion-panel-header{
      h5{
        margin-bottom: 0;
      }
      &:hover, &.mat-expanded{
        background: linear-gradient(45deg, #50a0ff 0%, #50a0ff 28%, white 100%);
        color: #fff;

      }
    }
  }
}

